*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}

#memory{
	width:100%;
	padding: 20px;
	margin:auto;
}
.container{
	width:100%;
	margin:auto;
	overflow: hidden;
}

.score{
	float:left;
}

.cell{
	border: 1px solid red;
	float: left;
	cursor: pointer;
}

.cell img {
	width: 100%;
	height: 100%;
}

button{
	margin-bottom: 10px;
}

/* PAS DE LEVEL */
.level-0{
	display: none;
}

/* LEVEL 1 */
.level-1{
	width:40%;
	margin:auto;
}
.level-1 .cell{
	width: 25%;
}

/* LEVEL 2 */
.level-2{
	width:60%;
	margin:auto;
}
.level-2 .cell{
	width: 15%;
}

/* LEVEL 3 */
.level-3{
	width:55%;
	margin:auto;
}
.level-3 .cell{
	width: 12%;
}


