*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}

#memory,
#memory div.container{
	margin: 0 auto;
	width: 700px;
	height: 700px;
	margin-top: 40px;
}
.cell{
	width: 25%;
	height: 25%;
	border: 1px solid red;
	float: left;
	cursor: pointer;
}

.cell img {
	width: 100%;
	height: 100%;
}

button{
	margin-bottom: 10px;
}
